/* Default CSS Starts Here */
*{
    cursor: default;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(172, 219, 238);
}

/* Header Starts Here */
#logo{
    margin: 0 28px;
}

header{
    background-color: rgb(0, 4, 255);
    color: #ffffff;
    margin: 0 0 28px 0;
    display: flex;
    align-items: center;
    padding: 5px 3px;
}

/* Section Starts Here */
section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 1) Section::Form */
form{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 4px;
    outline: none;
    width: 32vw;
    text-align: center;
    padding: 19px 60px;
}

h3{
    font-size: 1.7rem;
    color: rgb(1, 1, 77);
}

#num{
    padding: 12px;
    font-size: 1rem;
    margin: 22px 0;
    cursor: text;
}

#btn{
    padding: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    background-color: greenyellow;
    border: 2px solid red;
    border-radius: 3px;
    outline: none;
}

#btn:hover{
    background-color: rgb(145, 187, 82);
    border: 2px solid #000000;
    color: red;
}

#btn:active{
    background-color: rgb(92, 139, 22);
    border: 2px solid rgb(0, 0, 0);
    color: #ffffff;
    outline: none;
}

/* 2) section::p */
#p>h2{
    text-decoration: underline;
    display: inline;
}

#p>span{
    font-weight: bold;
    font-size: 1.3rem;
}

/* 3) Section::Article */
article{
    background-color: royalblue;
    border: 2px solid #000000;
    border-radius: 6px;
    outline: none;
    min-width: 49vw;
    height: 54vh;
    margin: 34px 0;
    padding: 7px 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}
